# Environment variables
.env
.env.*     # e.g. .env.local, .env.production

#credentials google
credentials.json
token.json

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
.envrc
